header {
  background: #40E0D0;
  padding: 20px 0;
}

.caixa {
  position: relative;
  width: 940px;
  margin: 0 auto;
}

body {
  background: #ADD8E6;
}

nav li {
  display: inline;
  margin: 0 0 0 18px;
}

nav {
  position: absolute;
  top: 110px;
  right: 100px;
}

nav a {
  text-transform: uppercase;
  color: black;
  font-weight: bold;
  font-size: 24px;
  text-decoration: none;
}

h2 {
  font-size: 60px;
  color: #6495ED;
  background: #40E0D0;
  margin: 0 0 30px 0;
}

h4 {
  font-size: 60px;
  color: #6495ED;
  background: #40E0D0;
  margin: 20px 0 30px 0;
}

main div {
    background: #ADD8E6;
}

nav a:hover {
  color: #6495ED;
  text-decoration: underline;
}

.produtos {
  width: 940px;
  margin: 30px auto;
  padding: 50px 0;
}

main ul{
    background-color: #836FFF;
    border: yellow;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
}

.produtos li {
  display: inline-block;
  text-align: center;
  width: 30%;
  vertical-align: top;
  margin: 2% 1.5%;
  padding: 30px 20px;
  box-sizing: border-box;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
  background-color: #87CEEB;
}

.produtos h3 {
  margin: 0 0 15px 10px;
  font-size: 30px;
  font-weight: bold;
}

.produtos li:hover{
  border-color: blue;
}

.produtos li:active {
  border-color: orange;
}

.produtos li:hover h3 {
  font-size: 33px;
  color: blue;
}

.produtos li:active h3 {
  color: orange;
}

footer img {
  width: 100%;
  height: 350px;
}
