header {
  background: #40E0D0;
  padding: 20px 0;
}

body {
  background: #ADD8E6;
}

.caixa {
  position: relative;
  width: 940px;
  margin: 0 auto;
}

strong {
  color: #836FFF;
  font-weight: bold;
}

nav li {
  display: inline;
  margin: 0 0 0 18px;
}

nav {
  position: absolute;
  top: 110px;
  right: 100px;
}

nav a {
  text-transform: uppercase;
  color: black;
  font-weight: bold;
  font-size: 24px;
  text-decoration: none;
}

h2 {
  font-size: 60px;
  color: #6495ED;
  background: #40E0D0;
}

nav a:hover {
  color: #6495ED;
  text-decoration: underline;
}

.produtos {
  width: 940px;
  margin: 30px auto;
  padding: 50px 0;
}

main ul {
    background-color: #836FFF;
    border: yellow;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
}

.ovos {
  color: orange;
}

.doce {
  color: #DCDCDC;
}

.oleo {
  color: yellow;
}

.fermento {
  color: white;
}

.agua {
  color: #6495ED;
}

.sal {
  color: grey;
}

.chocolate {
  color: #D2691E;
}

.manteiga {
  color: yellow;
}

.produtos p {
  font-size: 18px;
  font-family: cursive;
}
.produtos li {
  display: inline-block;
  text-align: center;
  width: 30%;
  vertical-align: top;
  margin: 2% 1.5%;
  padding: 30px 20px;
  box-sizing: border-box;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
  background-color: #87CEEB;
}

.produtos h3 {
  margin: 0 0 15px 10px;
  font-size: 30px;
  font-weight: bold;
}

.produtos li:hover{
  border-color: blue;
}

.produtos li:hover h3 {
  font-size: 33px;
}

.produtos li:hover p {
  font-size: 23px;
}

footer img {
  width: 100%;
  height: 350px;
}
